{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "Point",
        "coordinates": [
          -0.1356983184814453,
          51.52548674211006
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "LineString",
        "coordinates": [
          [
            -0.1351618766784668,
            51.52775622697431
          ],
          [
            -0.1350545883178711,
            51.525860547398565
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -0.13031244277954101,
              51.52688849611871
            ],
            [
              -0.13316631317138672,
              51.525833847122584
            ],
            [
              -0.13074159622192383,
              51.52347081069075
            ],
            [
              -0.12795209884643555,
              51.5247124213932
            ],
            [
              -0.13031244277954101,
              51.52688849611871
            ]
          ]
        ]
      }
    }
  ]
}